<a href="https://colab.research.google.com/github/kamalchibrani-ai/assignment3_ineuron/blob/master/assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1
 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

solution

In [0]:
def add(a , b):
  return a + b

ls = [1,2,3,4,5]

In [21]:
def my_reduce(func , seq):
  first = seq[0]
  for i in seq[1:]:
    first = func(first , i)
  return first

print(my_reduce(add,ls))

15

# 1.2 
Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [22]:
def myfilter(function, lst):
    result = []
    
    for i in lst:
      if function(i):
        result.append(i)            
    return result

def even_check(num):
    if num % 2 == 0:
        return True
        
# Sample list   
a = [2,3,4,5,6,8]
result = list(myfilter(even_check , a))
print(result)

[2, 4, 6, 8]

# 3
>>## Implement List comprehensions to produce the following lists.
>>## Write List comprehensions to produce the following Lists




```
1. ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

2. ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

3. [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

4. [[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

5. [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

```

solution 3.1

In [0]:
ls = [ i*j for i in ['x','y','z'] for j in range(1,5)] #final
print(ls)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

solution 3.2

In [0]:
ls = [ i*j for i in range(1,5) for j in ['x' , 'y' ,'z']] #final
print(ls)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

solution 3.3

In [0]:
ls = [[j] for i in range(2,5) for j in range(i , i+3)]#FINAL
ls

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

solution 3.4

In [24]:
lss = [[ j for j in range(i , i+4)] for i in range(2,6)]#final
print(lss)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

solution 3.5

In [26]:
ls = [ (j,i)for i in range(1,4) for j in range(1,4)] #FINAL
print(ls)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]